

services:
  backend:
    build: .
    ports:
      - "5000:5000"
    # environment:
    #   - DB_URI=mongodb://localhost:27017/myapp
    env_file:
      - .env
    # depends_on:
    #   - mongo

  # mongo:
  #   image: mongo:latest
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db

volumes:
  mongo-data:
